.container-fluid {
    background-color: #061325;
    font-family: "Varela Round" !important;
}
.foot {
    text-decoration: none;
    transition-duration: 0.2s;
    font-size: smaller;
  }
  .foot:hover {
    transition-duration: 0.2s;
    color: #d8e2ef !important;
  }