<div class="body">

  <div class="containter-fluid">
    <div class="container">
      <div class="h-100 d-flex align-items-center flex-column pt-5 mb-4">
        <a class="noDec" href="#"><h2>BATTLEFIELD 4 STATS</h2></a>

      </div>

      <div class="mt-5 bg-custom">

        <div class="border-line p-2">
          <h4 class="mb-0 p-2">Terms of Service</h4>
        </div>


        <p class="p-3">
          We may modify these Terms at any time, without advance notice. You are responsible for reviewing these Terms
          periodically for any modifications. Your continued use of the Sites following such modifications signifies
          your acceptance of those modifications. Additional terms may apply to your use of any Service, including team
          rules and eligibility. We will provide these terms to you or post them on the website pages to which they
          apply; they are incorporated by reference into these Terms. If there is a conflict between these Terms and any
          additional terms that apply to a particular Service, the additional terms will control. The section titles
          used in these Terms are purely for convenience and carry with them no legal or contractual effect.
        </p>

      </div>


      <div class="mt-4 pb-3  bg-custom">
        <div class="border-line p-2">
          <h4 class="mb-0 p-2">Description of Services</h4>
        </div>

        <div class="p-3">
          <div class="pb-2 mt-3">Battlefield 4 Stats is our flagship service and it provides players’ game history
            (stats) and meta data for the users of Battlefield 4.</div>


        </div>

      </div>


      <div class="mt-4 pb-3  bg-custom">
        <div class="border-line p-2">
          <h4 class="mb-0 p-2">Third Party Material</h4>
        </div>

        <div class="p-3">

          <div class="pb-2 mt-3">The Service may contain links to websites and content owned and/or operated by third
            parties. We are not responsible for any such third-party websites or content and do not have control over
            any materials made available therein. Third-party links may be used as advertisment. By accessing a
            third-party website or content you accept that we do not exercise any control over such websites or content.
            We have no responsibility for such third-party websites or content. We encourage you to familiarize yourself
            with the terms of service applicable to any third-party website or content you may access.</div>

          <div class="pb-2">We do not warrant or endorse and do not assume and will not have any liability or
            responsibility to you or any other person for any third-party products, services, materials or websites.
            Please note that the applicable third party is fully responsible for all goods and services it provides to
            you and for any and all damages, claims, liabilities and costs it may cause you to suffer, directly or
            indirectly, in full or in part.</div>

        </div>

      </div>

      <div class="mt-4 pb-3  bg-custom">
        <div class="border-line p-2">
          <h4 class="mb-0 p-2">Accounts for individual use only</h4>
        </div>

        <div class="p-3">

          <div class="pb-2 mt-3">You may use the Sites and Services for your personal, non-commercial use only. You, as
            the holder of your account, are solely responsible for all obligations and for all activities under your
            account. You may not allow any other person to access your account, access the Sites and Services, accept
            any winnings, or participate in any tournament using your account information. Your account is not
            transferable to any other person.</div>


        </div>

      </div>

      <div class="mt-4 pb-3  bg-custom">
        <div class="border-line p-2">
          <h4 class="mb-0 p-2">Privacy</h4>
        </div>

        <div class="p-3">

          <div class="pb-2 mt-3">Any personal information that you provide to use will be processed in accordance with
            our Privacy Policy. By using our Sites and Services, you agree to that Privacy Policy
            Local laws: You are subject to all laws of the province, state, and/or country in which you reside and from
            which you access the Services, and are solely responsible for obeying those laws. You are prohibited from
            accessing the Sites from locations where its contents are illegal or unlawful.</div>


        </div>

      </div>








      <!--
            <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span><b>How do we use your data?</b></span>
                  </ng-template>
                  <ng-template ngbPanelContent >
                    The Service may be modified, updated, interrupted, suspended or discontinued at any time, in the sole discretion of the Company, without notice or liability. The Service may be unavailable at certain periods, including but not limited to systems failures, anticipated or unanticipated maintenance work, upgrades or force majeure events.


                  </ng-template>
                </ngb-panel>
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span><b>How do we use your data?</b></span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span><b>How do we use your data?</b></span>
                  </ng-template>
                  <ng-template ngbPanelContent>

                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>

                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span><b>How do we use your data?</b></span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>

                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <span><b>How do we use your data?</b></span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>

              </ngb-accordion>

              
        -->

    </div>


  </div>

</div>