.body {
  background-color: #061325;
  font-family: "Varela Round" !important;
}
h1, h2, p, h4, h5, h3  {
  color: #d8e2ef;
  font-family: "Varela Round";
}
input {
  background-color: #0e1c2f;
  outline: 0;
  color: #d8e2ef;
  background-clip: padding-box;
  border: 0px solid #344050;
  padding: .3125rem 2rem .3125rem 1rem;
  height: 45px;
  border-radius: .375rem;
  width: 431px;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.system {
  height: 45px;
  cursor: pointer;

}
.system-layout {
  border-radius: 10px 0rem 0rem 10px;
  border: 1px solid #344050;
  border-right: 0px;
}

.nickname {
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-m {
  max-height: 24rem;
  overflow: auto;
  background-color: #0e1c2f;
  border-radius: .375rem
}

.input-search{
  width: 431px;
}
.dropdown-m {
  width: 420px;
}
.dropdown-i {
  transition-duration: 0.1s;
}
.dropdown-i:hover {
  background-color: #061325;
  transition-duration: 0.1s;
}
.bg-custom {
  background-color: #0e1c2f;
  background-clip: border-box;
  border: 0 solid #061325;
  border-radius: .375rem;
}
.border-line {
  border-bottom: 0 solid #061325;
  border-radius: .375rem .375rem 0rem 0rem;
  background-color: #132238;
}
.close-icon {
  position: relative;
  left: -20px;
  padding-top: 11px;
  color: #344050;
  cursor: pointer;
  transition-duration: 0.2s;
}
.close-icon:hover {
  color: grey;
  transition-duration: 0.2s;
}

.bg-custom {
  background-color: #0e1c2f;
  background-clip: border-box;
  border: 0 solid #061325;
  border-radius: .375rem;
}