.body {
  background-color: #061325;
  font-family: "Varela Round" !important;
}
 h5, span, h6, h3, .slug, .brand {
  color: #d8e2ef;
}

.bg-custom {
  background-color: #0e1c2f;
  background-clip: border-box;
  border: 0 solid #061325;
  border-radius: .375rem;
}

.c > h3, p, h5 > span {
  color: #9da9bb;
}
.badge-soft-success {
  color: #5ce2aa;
  background-color: #0b403e;
}
.badge-soft-danger {
  color: #e25c5c;
  background-color: #400b27;
}
.playing > a {
  cursor: pointer;
  color: #9da9bb;
}
.image {
  position: relative;
  left: -30px;
}
.bg-custom-right, .playing {
  background-color: #0e1c2f;
  border-radius: .375rem .375rem .375rem .375rem;
}
.bg-custom-right-desc {
  border-radius: 0 0 .375rem .375rem;
  background-color: #0e1c2f;
}
.border-line {
  border-bottom: 0 solid #061325;
  border-radius: .375rem .375rem 0rem 0rem;
  background-color: #132238;
}
.progress-bar {
  transition: width .6s ease;
}
.search-input > input {
  background-color: #0e1c2f;
  background-clip: border-box;
  border: 0px solid #344050;
  color: #d8e2ef;
  padding-left: 2rem;
  padding-right: 1.5rem;
  line-height: 1.7;
  border-radius: .375rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition-duration: 0.3s;
}

.dropdown-m {
  max-height: 24rem;
  overflow: auto;
  background-color: #0e1c2f;
  border-radius: .375rem;
  top: 112px; 
  z-index: 1000; 
  margin-right: 9px; 
  width: 254px;
}
.dropdown-i {
  transition-duration: 0.1s;
}
.dropdown-i:hover {
  background-color: #061325;
  transition-duration: 0.1s;
}
.nickname {
  font-size: large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-input > input:focus {
  color: #d8e2ef;
  background-color: #0e1c2f;
  border-color: #4d5969;
  outline: 0;
  transition-duration: 0.3s;
}
.search-box-icon {
  position: absolute;
  color: #4d5969;
  top: 50%;
  left: .9rem;
  -webkit-transform: translateY(-48%);
  -ms-transform: translateY(-48%);
  transform: translateY(-48%);
}
.table {
  width: 100%;
  color: #9da9bb;
  border-collapse: collapse;
  background-color: #0e1c2f;
  border-radius: 0.375rem 0.375rem 0 0;
}
.table-dash {
  overflow: hidden;
}
.bg-light {
  background-color: #132238!important;
}
.text-90 {
  color: #d8e2ef!important;
  font-size: .9rem;
}
.text-90 > th {
  font-weight: 500;
}
.tablerow > td {
  font-size: .9rem;
}
.border-b {
  border-bottom: 1px solid rgba(163,203,255,.16);
}
.border-200 {
  border-color: #061325!important;
}
.table th, .table td {
  border-bottom: 0;
  border-top: 0;
}
.table-f {
  border-radius: 0 0 .375rem .375rem;
}
.btn-default {
  background: #132238;
  border-color: #132238;
  color: #e6e6e6!important;
  -webkit-box-shadow: 0 0 0 1px rgb(0 8 19 / 30%), 0 2px 5px 0 rgb(0 13 33 / 50%), 0 1px 1.5px 0 rgb(0 8 1 / 48%), 0 1px 2px 0 rgb(0 8 1 / 40%);
  box-shadow: 0 0 0 1px rgb(0 8 19 / 30%), 0 2px 5px 0 rgb(0 13 33 / 50%), 0 1px 1.5px 0 rgb(0 8 1 / 48%), 0 1px 2px 0 rgb(0 8 1 / 40%);
  transition-duration: 0.1s;
}
.btn-small {
  padding: .1875rem .75rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.btn-default:active {
  background-color: #061325;
  transition-duration: 0.1s;
  box-shadow: none;
  border-color: #061325;
}
.progress {
  background-color: #061325 !important;
}
.progress-bar > span {
  position: absolute !important; 
  color: green;
  font-weight: bold;
  padding-left: 30px;
}
.faSearch {
  position: absolute;
  margin-left: 10px;
  margin-top: 3px;
  color: #4d5969;
}
.faTimes {
  position: absolute;
  margin-top: 4px;
  margin-left: -20px;
  cursor: pointer;
  color: #344050;
  transition-duration: 0.2s;
}
.faTimes:hover {
  color: #4d5969;
  transition-duration: 0.2s;
}
.brand {
  text-decoration: none;
}
li {
  display: inline;
}
.nick-link {
  text-decoration-color: #4d5969;
}
.rank-img {
  width: 128px;
}

@media only screen and(max-width: 767px) {
  
  .rank-img {
    width: 64px;
  }

  .rank-points, .rank-up-points-left, .next-rank-points, .current-rank-name, .rank-up-name {
    font-size: smaller;
  }
}

@media only screen and(max-width: 455px) {
  

  .rank-points, .rank-up-points-left, .next-rank-points, .current-rank-name, .rank-up-name {
    font-size: x-small;
  }

  .body {
    font-size: medium !important;
  }
}
@media only screen and(max-width: 489px) {
  .nav-list{ 
    flex-direction: column;
  }
  .dropdown-m {
    top: 135px;
  }
}
// #132238 light #2c7be5;
