<div class="body">
  <div class="container pb-4" *ngIf="this.http.loaded && profile.time != undefined">
    <div class="nav w-100 shadow sticky-top bg-custom p-3" style="border-radius: 0 0 .375rem .375rem;">
      <a class=" brand d-flex align-items-center" style="font-size: larger;" href="">BF4 Stats</a>
      <ng-template #tipEnlisted>{{this.date}}</ng-template>
      <ng-template #goto>Go to Battlelog profile</ng-template>
      <div class="menu">
        <ul class="mb-0 d-flex justify-content-center align-items-center">
          <li><img src="{{profile.rankSmallImg}}" width="40" alt=""></li>
          <li><a [ngbTooltip]="goto" class="nick-link" href="https://battlelog.battlefield.com/bf4/soldier/{{this.nickname}}/stats/{{this.id}}/pc/" target="_blank"><p class="mb-0"><span *ngIf="profile.tag != ''">[{{profile.tag}}]</span> {{this.nickname}}</p></a></li>
          <li><p class="mb-0 ml-3">Enlisted: <span style="color: #d8e2ef; cursor: pointer;" [ngbTooltip]="tipEnlisted">{{this.date.getDate()}}/{{this.date.getMonth()+1}}/{{this.date.getFullYear()}}</span></p></li>
        </ul>
      </div>
    </div>
    <div class="search-input mb-4 mt-3">
      <fa-icon class="faSearch" [icon]="faSearch"></fa-icon>
      <input type="text" placeholder="Nickname..." #search (input)="nickInput(search.value)" (keydown.enter)="submit()">
      <fa-icon class="faTimes" (click)="this.http.profiles = []; this.http.loadedProfiles = false; search.value = ''" [icon]="times"></fa-icon>
    </div>

    <div class="d-flex mt-2 flex-column dropdown-m shadow pb-2 pt-3 position-absolute" style="top: 112px; z-index: 1000; margin-right: 9px; width: 254px;" *ngIf="this.http.loading || this.http.profiles.length > 0 || this.http.loadedProfiles">
      <div class="spinner-border text-primary text-center m-auto" *ngIf="this.http.loading" role="status">
      </div>
      <div *ngIf="this.http.loadedProfiles && this.http.profiles.length == 0">
        <p class="mb-0 text-center">No players found.</p>
      </div>
      <p style="font-size: large;" class="pl-3" *ngIf="this.http.profiles.length > 0">Players ({{this.http.profiles.length}})</p>
      <div class="dropdown-i d-flex justify-content-start pl-3 pr-3 pb-1 pt-1" *ngFor="let profile of this.http.profiles"
        style="cursor: pointer;" (click)="player(profile)">
        <img
          src="https://secure.gravatar.com/avatar/{{profile.gravatar}}?s=36&d=https%3A%2F%2Feaassets-a.akamaihd.net%2Fbattlelog%2Fdefaultavatars%2Fdefault-avatar-36.png"
          style="border-radius: 100%; min-width: 45px;" width="45" alt="" class="mr-4">
        <p class="nickname mb-0 align-self-center">{{profile.nickname}}</p>
      </div>
    </div>

    <div class="d-flex align-items-center playing mb-4 p-3" *ngIf="currentPlayingServer != ''">
      <h5 class="mb-0">Currently in Battlefield: </h5>
      <a class="ml-2" href="https://battlelog.battlefield.com/bf4/servers/show/pc/{{this.serverGuid}}" target="_blank">
        {{currentPlayingServer}}
      </a>
      <button type="button" class="btn btn-small btn-default ml-4" (click)="loadServerInfo()">
        Show info
      </button>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-6">
        <div class="c bg-custom shadow-sm p-4">
          <h5>Time</h5>
          <h3>{{profile.time}}</h3>
          <!-- <span class="badge badge-pill badge-soft-success">+1h</span> -->
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="c bg-custom shadow-sm p-4">
          <h5>Kills</h5>
          <h3>{{profile.kills}}</h3>
          <!-- <span class="badge badge-pill badge-soft-success">+124</span> -->
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6 mt-2-md">
        <div class="c bg-custom shadow-sm p-4">
          <h5>Deaths</h5>
          <h3>{{profile.deaths}}</h3>
          <!-- <span class="badge badge-pill badge-soft-danger">+100</span> -->
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-6">
        <div class="c bg-custom shadow-sm p-4">
          <h5>K/D</h5>
          <h3>{{profile.kd}}</h3>
          <!-- <span class="badge badge-pill badge-soft-success">+0.5%</span> -->
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-3">
        <img class="position-absolute animate__animated animate__fadeIn" src="{{profile.emblem}}" alt="">
        <img class="image animate__animated animate__fadeIn" src="{{profile.picture}}" alt="" height="415" >
      </div>
      <div class="col-md-6 z-index">
        <div class="bg-custom bg-custom-right shadow-sm h-100">
          <div class="p-4 border-line">
            <h5 class="mb-0">Service Stars</h5>
          </div>
          <div class="bg-custom-right-desc p-4 ">
            <div class="d-flex align-self-center ">
              <img src="../../assets/icons/medic.png" width="31" height="32" alt="">
              <div class="progress align-self-center ml-2 mr-2" style="height: 10px; width: 75%; background-color: #061325;">
                <div class="progress-bar bg-warning align-items-center" role="progressbar" [ngStyle]="{'width.%': profile.srsProgressAssault}" aria-valuenow="profile.srsProgressAssault" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="../../assets/icons/star.svg" width="25" height="25" alt="">
              <h5 class="mb-0 ml-1 d-flex align-self-center">{{profile.srsAssault}}</h5>
            </div>
            <div class="d-flex justify-content-center">
              <p class="text-center mb-0 medic-score">{{profile.pointsAssault}}/<span>{{profile.pointsAssaultNeeded}}</span></p>
            </div>
            <div class="d-flex align-self-center mt-1">
              <img src="../../assets/icons/engineer.png" width="31" height="32" alt="">
              <div class="progress align-self-center ml-2 mr-2" style="height: 10px; width: 75%; background-color: #061325;">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': profile.srsProgressEngineer}" aria-valuenow="profile.srsProgressEngineer" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="../../assets/icons/star.svg" width="25" height="25" alt="">
              <h5 class="mb-0 ml-1 d-flex align-self-center">{{profile.srsEngineer}}</h5>
            </div>
            <div class="d-flex justify-content-center">
              <p class="text-center mb-0 engineer-score">{{profile.pointsEngineer}}/<span>{{profile.pointsEngineerNeeded}}</span></p>
            </div>

            <div class="d-flex align-self-center mt-1">
              <img src="../../assets/icons/support.png" width="31" height="32" alt="">
              <div class="progress align-self-center ml-2 mr-2" style="height: 10px; width: 75%; background-color: #061325;">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': profile.srsProgressSupport}" aria-valuenow="profile.srsProgressSupport" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="../../assets/icons/star.svg" width="25" height="25" alt="">
              <h5 class="mb-0 ml-1 d-flex align-self-center">{{profile.srsSupport}}</h5>
            </div>
            <div class="d-flex justify-content-center">
              <p class="text-center mb-0 support-score">{{profile.pointsSupport}}/<span>{{profile.pointsSupportNeeded}}</span></p>
            </div>
            <div class="d-flex align-self-center mt-1">
              <img src="../../assets/icons/sniper.png" width="31" height="32" alt="">
              <div class="progress align-self-center ml-2 mr-2" style="height: 10px; width: 75%; background-color: #061325;">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': profile.srsProgressReacon}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="../../assets/icons/star.svg" width="25" height="25" alt="">
              <h5 class="mb-0 ml-1 d-flex align-self-center">{{profile.srsReacon}}</h5>

            </div>
            <div class="d-flex justify-content-center">
              <p class="text-center mb-0 snipre-score">{{profile.pointsReacon}}/<span>{{profile.pointsReaconNeeded}}</span></p>
            </div>
            <div class="d-flex align-self-center mt-1">
              <img src="../../assets/icons/commander.png" width="31" height="32" alt="">
              <div class="progress align-self-center ml-2 mr-2" style="height: 10px; width: 75%; background-color: #061325;">
                <div class="progress-bar bg-warning"  role="progressbar" [ngStyle]="{'width.%': profile.srsProgressCommander}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="../../assets/icons/star.svg" width="25" height="25" alt="">
              <h5 class="mb-0 ml-1 d-flex align-self-center">{{profile.srsCommander}}</h5>
            </div>
            <div class="d-flex justify-content-center">
              <p class="text-center mb-0 commander-score">{{profile.pointsCommander}}/<span>{{profile.pointsCommanderNeeded}}</span></p>
            </div>
          </div>
        </div>
        

      </div>
      <div class="col-md-3">
        <div class="bg-custom-right shadow-sm mb-0 h-100">
          <div class="p-4 border-line">
            <h5 class="mb-0">General Stats</h5>
          </div>
          <div class="bg-custom-right-desc pl-4 pr-4 pb-4 pt-2 ">
            <div class="d-flex flex-row justify-content-between align-items-center w-100">
              <h6 class="mb-0 ">Kill Assists</h6>
              <p class="ml-3 mb-0 " >{{profile.killAssists}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center  mt-2">
              <h6 class="mb-0">Kills/Min</h6>
              <p class="ml-3 mb-0" >{{profile.KillsPMin}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center  mt-2">
              <h6 class="mb-0">Shots fired</h6>
              <p class="ml-3 mb-0">{{profile.shotsFired}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center  mt-2">
              <h6 class="mb-0">Shots hit</h6>
              <p class="ml-3 mb-0">{{profile.shotsHit}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0" >Accuracy</h6>
              <p class="ml-3 mb-0" >{{profile.accuracy}}%</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center  mt-2">
              <h6 class="mb-0">Wins</h6>
              <p class="ml-3 mb-0">{{profile.wins}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center  mt-2">
              <h6 class="mb-0" >Losses</h6>
              <p class="ml-3 mb-0">{{profile.losses}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center  mt-2">
              <h6 class="mb-0">Rounds played</h6>
              <p class="ml-3 mb-0">{{profile.roundsPlayed}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center  mt-2">
              <h6 class="mb-0" >Rounds finished</h6>
              <p class="ml-3 mb-0">{{profile.roundsFinished}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center  mt-2">
              <h6 class="mb-0" >W/L Ratio</h6>
              <p class="ml-3 mb-0">{{profile.wlRatio}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-9">
        <div class="bg-custom-right h-100">
          <div class="border-line p-4" >
            <h5 class="mb-0">Rank - <span>{{profile.nickname}}</span></h5>
          </div>
          <div class="bg-custom-right-desc ">
            <div class="p-3 d-flex align-self-center">
              <div class="d-flex flex-column">
                <img width="128"  src="{{profile.rankImg}}" alt="">
                <p class="mb-0 text-center">{{profile.currentRankName}}</p>
              </div>

              <div class="d-flex flex-column w-100 align-items-center justify-content-center mb-1">
                <h6 class="mb-0">SPM</h6>
                <div class="d-flex ">
                  <p class="mb-0 font-weight-bold">{{profile.scorePerMinute}}</p>
                </div>
                <div class="progress " style="height: 10px; width: 100%; background-color: #061325;">
                  <div class="progress-bar bg-warning progress-bar-animated progress-bar-animated" role="progressbar" [ngStyle]="{'width.%': profile.rankUpPercentage}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="d-flex justify-content-between w-100 mt-1">
                  <p>{{profile.rankPoints}}</p>
                  <p>{{profile.rankUpPointsLeft}} left</p>
                  <p>{{profile.nextRankPointsNeeded}}</p>
                </div>
              </div>
              <div *ngIf="profile.rank != 140">
                <img width="128" src="{{profile.rankUpImg}}" alt="">
                <p class="mb-0 text-center">{{profile.rankUpName}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bg-custom-right ">
          <div class="border-line p-4" >
            <h5 class="mb-0">Award Stats</h5>
          </div>
          <div class="bg-custom-right-desc pl-4 pr-4 pt-2 pb-3">
            <div class="d-flex flex-row justify-content-between align-items-center ">
              <h6 class="mb-0">Medals collected</h6>
              <p class="ml-3 mb-0">{{profile.medalsCollected}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-3">
              <h6 class="mb-0">Medals unlocked</h6>
              <p class="ml-3 mb-0">{{profile.medalsUnlocked}}/54</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-3">
              <h6 class="mb-0">Ribbons collected</h6>
              <p class="ml-3 mb-0">{{profile.ribbonsCollected}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-3">
              <h6 class="mb-0">Ribbons unlocked</h6>
              <p class="ml-3 mb-0">{{profile.ribbonsUnlocked}}/54</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-3">
              <h6 class="mb-0">Ribbons per round</h6>
              <p class="ml-3 mb-0">{{profile.ribbonsPerRound}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-4">
        <div class="bg-custom-right ">
          <div class="border-line p-4" >
            <h5 class="mb-0">Rankings</h5>
          </div>
          <div class="bg-custom-right-desc pl-4 pr-4 pt-2 pb-3">
            <div class="d-flex flex-row justify-content-between align-items-center ">
              <h6 class="mb-0">Score</h6>
              <p class="ml-3 mb-0">{{profile.score}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Headshots / Kills %</h6>
              <p class="ml-3 mb-0">{{profile.headshotKillsPercentage}}%</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2 ">
              <h6 class="mb-0">Kill / Hit %</h6>
              <p class="ml-3 mb-0">{{profile.killHitPercentage}}%</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Shots fired per minute</h6>
              <p class="ml-3 mb-0">{{profile.shotsFirePerMinute}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Dogtags</h6>
              <p class="ml-3 mb-0">{{profile.dogtags}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Headshots</h6>
              <p class="ml-3 mb-0">{{profile.headshots}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Supression assists</h6>
              <p class="ml-3 mb-0">{{profile.suppressionAssists}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Longest headshot</h6>
              <p class="ml-3 mb-0">{{profile.longestHeadshot}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Vehicle destroyed</h6>
              <p class="ml-3 mb-0">{{profile.vehicleDestroyed}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Vehicle damage</h6>
              <p class="ml-3 mb-0">{{profile.vehicleDamage}}</p>
            </div>


          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bg-custom-right ">
          <div class="border-line p-4" >
            <h5 class="mb-0">Combat Stats</h5>
          </div>
          <div class="bg-custom-right-desc pl-4 pr-4 pt-2 pb-3">
            <div class="d-flex flex-row justify-content-between align-items-center ">
              <h6 class="mb-0">Shots fired</h6>
              <p class="ml-3 mb-0">{{profile.shotsFired}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Shots hit</h6>
              <p class="ml-3 mb-0">{{profile.shotsHit}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Avenger kills</h6>
              <p class="ml-3 mb-0">{{profile.avengerKills}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Savior kills</h6>
              <p class="ml-3 mb-0">{{profile.saviorKills}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Nemesis kills</h6>
              <p class="ml-3 mb-0">{{profile.nemesisKills}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Unknown kills</h6>
              <p class="ml-3 mb-0">15</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Kill streak</h6>
              <p class="ml-3 mb-0">{{profile.killStreak}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Nemesis streak</h6>
              <p class="ml-3 mb-0">{{profile.nemesisStreak}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Quits</h6>
              <p class="ml-3 mb-0">{{profile.quits}}%</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Skill</h6>
              <p class="ml-3 mb-0">{{profile.skill}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bg-custom-right ">
          <div class="border-line p-4" >
            <h5 class="mb-0">Team Stats</h5>
          </div>
          <div class="bg-custom-right-desc pl-4 pr-4 pt-2 pb-3">
            <div class="d-flex flex-row justify-content-between align-items-center ">
              <h6 class="mb-0">Supression assists</h6>
              <p class="ml-3 mb-0">{{profile.suppressionAssists}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Kill assists</h6>
              <p class="ml-3 mb-0">{{profile.killAssists}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">MCOM defend kills</h6>
              <p class="ml-3 mb-0">{{profile.mcomDefendKills}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Resupplies</h6>
              <p class="ml-3 mb-0">{{profile.resupplies}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Repairs</h6>
              <p class="ml-3 mb-0">{{profile.repairs}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Heals</h6>
              <p class="ml-3 mb-0">{{profile.heals}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Revives</h6>
              <p class="ml-3 mb-0">{{profile.revives}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Flag defends</h6>
              <p class="ml-3 mb-0">{{profile.flagDefends}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Flag captures</h6>
              <p class="ml-3 mb-0">{{profile.flagCaptures}}</p>
            </div>

            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Team score</h6>
              <p class="ml-3 mb-0">{{profile.teamScore}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3">
        <div class="bg-custom-right h-100">
          <div class="border-line p-4" >
            <h5 class="mb-0">Scores</h5>
          </div>
          <div class="bg-custom-right-desc pl-4 pr-4 pt-2 pb-3">
            <div class="d-flex flex-row justify-content-between align-items-center ">
              <h6 class="mb-0">Squad</h6>
              <p class="ml-3 mb-0">{{profile.squadScore}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Team</h6>
              <p class="ml-3 mb-0">{{profile.teamScore}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Vehicle</h6>
              <p class="ml-3 mb-0">{{profile.vehicleScore}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Combat</h6>
              <p class="ml-3 mb-0">{{profile.combatScore}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">General</h6>
              <p class="ml-3 mb-0">{{profile.generalScore}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Award</h6>
              <p class="ml-3 mb-0">{{profile.awardScore}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Bonus</h6>
              <p class="ml-3 mb-0">{{profile.bonusScore}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Unlock</h6>
              <p class="ml-3 mb-0">{{profile.unlockScore}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Rank</h6>
              <p class="ml-3 mb-0">{{profile.rankScore}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Total</h6>
              <p class="ml-3 mb-0">{{profile.totalScore}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bg-custom-right h-100">
          <div class="border-line p-4" >
            <h5 class="mb-0">Service Stars Game Modes</h5>
          </div>
          <div class="bg-custom-right-desc pl-4 pr-4 pt-2 pb-3">
            <h6 class="text-center mb-0">{{profile.conquestCode}}</h6>
            <div class="d-flex align-self-center ">

              <div class="progress align-self-center ml-2 mr-2" style="height: 10px; width: 80%; background-color: #061325;">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': profile.conquestProgress}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="../../assets/icons/star.svg" width="25" height="25" alt="">
              <h5 class="mb-0 ml-1 d-flex align-self-center">{{profile.conquestStars}}</h5>

            </div>
            <div class="d-flex justify-content-center">
              <p class="text-center mb-0 medic-score">{{profile.conquestActualValue}}/<span>{{ profile.conquestValueNeeded}}</span></p>
            </div>
            <h6 class="text-center mt-2 mb-0">{{profile.deathmatchCode}}</h6>
            <div class="d-flex align-self-center mt-1">

              <div class="progress align-self-center ml-2 mr-2" style="height: 10px; width: 80%; background-color: #061325;">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': profile.deathmatchProgress}" aria-valuenow="27.5" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="../../assets/icons/star.svg" width="25" height="25" alt="">
              <h5 class="mb-0 ml-1 d-flex align-self-center">{{profile.deathmatchStars}}</h5>
            </div>
            <div class="d-flex justify-content-center">
              <p class="text-center mb-0 medic-score">{{ profile.deathmatchActualValue}}/<span>{{profile.deathmatchValueNeeded}}</span></p>
            </div>
            <h6 class="text-center mt-2 mb-0">{{profile.rushCode}}</h6>
            <div class="d-flex align-self-center mt-0">

              <div class="progress align-self-center ml-2 mr-2" style="height: 10px; width: 80%; background-color: #061325;">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': profile.rushProgress}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="../../assets/icons/star.svg" width="25" height="25" alt="">
              <h5 class="mb-0 ml-1 d-flex align-self-center">{{profile.rushStars}}</h5>
            </div>
            <div class="d-flex justify-content-center">
              <p class="text-center mb-0 medic-score">{{profile.rushActualValue}}/<span>{{profile.rushValueNeeded}}</span></p>
            </div>
            <h6 class="text-center mt-2 mb-0">{{profile.obliterationCode}}</h6>
            <div class="d-flex align-self-center mt-0">

              <div class="progress align-self-center ml-2 mr-2" style="height: 10px; width: 80%; background-color: #061325;">
                <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': profile.obliterationProgress}" aria-valuenow="profile.obliterationProgress" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="../../assets/icons/star.svg" width="25" height="25" alt="">
              <h5 class="mb-0 ml-1 d-flex align-self-center">{{profile.obliterationStars}}</h5>

            </div>
            <div class="d-flex justify-content-center">
              <p class="text-center mb-0 medic-score">{{profile.obliterationActualValue}}/<span>{{profile.obliterationValueNeeded}}</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bg-custom-right h-100">
          <div class="border-line p-4" >
            <h5 class="mb-0">Modes</h5>
          </div>
          <div class="bg-custom-right-desc pl-4 pr-4 pt-2 pb-3">
            <div class="d-flex flex-row justify-content-between align-items-center ">
              <h6 class="mb-0">Conquest</h6>
              <p class="ml-3 mb-0">{{profile.conquest}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Deathmatch</h6>
              <p class="ml-3 mb-0">{{profile.deathMatch}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Rush</h6>
              <p class="ml-3 mb-0">{{profile.rush}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Domination</h6>
              <p class="ml-3 mb-0">{{profile.domination}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Chain Link</h6>
              <p class="ml-3 mb-0">{{profile.chainLink}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">CTF</h6>
              <p class="ml-3 mb-0">{{profile.Ctf}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Obliteration</h6>
              <p class="ml-3 mb-0">{{profile.obliteration}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Air Superiority</h6>
              <p class="ml-3 mb-0">{{profile.airSuperiority}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Defuse</h6>
              <p class="ml-3 mb-0">{{profile.defuse}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center mt-2">
              <h6 class="mb-0">Carrier Assault</h6>
              <p class="ml-3 mb-0">{{profile.carrierAssault}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <table class="table table-dash mb-0" style="border-radius: 0.375rem;">
          <thead class="bg-light">
            <tr class="text-90 font-weight-normal">
              <th>Weapon category</th>
              <th>Score</th>
              <th>Time</th>
              <th>Kills</th>
              <th>Headshots</th>
              <th>Hits</th>
              <th>Shots</th>
              <th>Accuracy</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tablerow border-b border-200 mb-0" >
              <td class="slug"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>  
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 mt-4">
        <table class="table table-dash mb-0">
          <thead class="bg-light">
            <tr class="text-90 font-weight-normal">
              <th>Weapon</th>
              <th>Time</th>
              <th>Kills</th>
              <th>Headshots</th>
              <th>Shots</th>
              <th>Hits</th>
              <th>Accuracy</th>
              <th>Stars</th>
              <th>Progress</th>
              <!-- <th>Unlocks</th> -->
            </tr>
          </thead>
          <tbody>
            <tr class="tablerow border-b border-200 mb-0" *ngFor="let weapon of weaponsSlice; index as i">
              <td class="slug">{{weapon.slug}}</td>
              <td>{{weapon.time}}</td>
              <td>{{weapon.kills}}</td>
              <td>{{weapon.headshots}}</td>
              <td>{{weapon.shotsFired}}</td>
              <td>{{weapon.shotsHit}}</td>
              <td>{{weapon.accuracy}}%</td>  
              <td>{{weapon.serviceStar}}</td>
              <td>
                <div class="progress align-self-center" style="height: 12px; width: 75%; background-color: #061325;">
                  <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%': weapon.serviceStarProgress}" aria-valuenow="profile.srsProgressEngineer" aria-valuemin="0" aria-valuemax="100"><span>{{weapon.serviceStarProgress.toFixed(0)}}%</span></div>
                </div>
              </td>
              <!-- <td>16/16</td> -->
            </tr>
          </tbody>
        </table>
        <div class="w-100 bg-light p-2 table-f text-center">
          <button type="button" class="btn btn-small btn-default" (click)="showAll()">
            <span *ngIf="showAllToggle">Show Less</span>
            <span *ngIf="!showAllToggle">Show All</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-3 vh-100 d-flex flex-column justify-content-center align-items-center" *ngIf="!this.http.loaded">
    <div class="spinner-border text-primary " style="width: 5rem; height: 5rem;" role="status">
    </div>
    <!-- <p class="mt-3">Loading stats for {{nickname}}</p> -->
  </div>
</div>
